.navBar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--text-black);
  height: 60px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.15);

  .logo {
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
  }
}
