@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Doto:wght@100..900&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  --primary-bg-color: #f9f2ed;
  --secondary-bg-color: #fbf5f2;
  --text-black: #000;

  --gradient-bg-color-combo-1: #E8CBC0;  /* fallback for old browsers */
  --gradient-bg-color-combo-2: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
  --gradient-bg-color-combo-3: linear-gradient(to right, #636FA4, #E8CBC0);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--primary-bg-color);
  font-size: 1rem;
  line-height: 1.6;

  background: var(--gradient-bg-color-combo-1);
  background: var(--gradient-bg-color-combo-2);
  background: var(--gradient-bg-color-combo-3);
}

.doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-bg-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b4b4; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
  border-radius: 10px; 
}